<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{admin/admin-layout/layout}">
<head>
    <title>Detail Blog</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("input").attr('disabled','disabled');
        })
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Xem chi tiết Blog</strong>
            </div>
            <div class="card-body card-block" >
        <form class="kt-form" method="get" th:action="@{blog}">
            <div class="kt-portlet__body">
                <div class="kt-form__section kt-form__section--first">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Tiêu Đề:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" th:value="${blog.title}">
                            <span class="form-text text-muted"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Mô Tả:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" th:value="${blog.description}">
                            <span class="form-text text-muted"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Nội Dung:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" th:value="${blog.content}">
                            <span class="form-text text-muted"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Ảnh:</label>
                        <div class="col-lg-4">
                            <img id="preview" class="mb-2" style="width: 150px;" th:src="${blog.thumbnail}" alt=""><br>
                            <span class="form-text text-muted"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">update At:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" th:value="${blog.updateAt}">
                            <span class="form-text text-muted"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Deleted At:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" th:value="${blog.deletedAt}">
                            <span class="form-text text-muted"></span>
                        </div>
                    </div>
<!--                    <div class="form-group row">-->
<!--                        <label class="col-lg-2 col-form-label">Status:</label>-->
<!--                        <div class="col-lg-4">-->
<!--                            <input th:object="${status}" th:field="*{blog.status}"  type="text" th:value="${status.value}" class="form-control" th:text="${status}">-->
<!--                            <span class="form-text text-muted"></span>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="card-footer">
                <a href="/admin/blogs" class="btn btn-secondary">Quay Lại</a>
                <a th:href="@{/admin/blogs/edit/{id}(id=${blog.id})}" class="btn btn-danger">Sửa</a>
            </div>
        </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>