<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/client-layout/master-layout}">
<head>
	<title>About</title>

</head>
<body class="animsition">
<div layout:fragment="client-content">

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/customer/images/banner-aodai.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Về chúng tôi
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Giới thiệu chung
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Giới thiệu chung về Toang Store
						Toang Store chuyên thiết kế và may các mẫu áo dài cưới hỏi nam và nữ, áo dài cho mẹ cô dâu chú rễ hay còn gọi là áo dài làm sui gia, áo dài dự tiệc và lễ hội; Cung cấp các loại vải tốt và thịnh hành nhất hiện nay để đáp ứng nhu cầu đặt may áo dài ngày càng đa dạng của Quý khách hàng như may áo dài cưới truyền thống hoặc áo dài cưới cách tân hiện đại, áo dài công sở, áo dài nữ sinh, ... Quý khách có thể đặt may các mẫu áo dài thêu ruy băng hoặc đinh ren nổi và đá pha lê hoặc các mẫu áo dài thêu, mẫu áo dài vẽ hoa văn theo ý muốn. Áo dài CoZa Store chuyên nhận may áo dài online để gửi đi toàn quốc và gửi ra nước ngoài. Khách hàng đặt may áo dài online chỉ cần gửi thông tin chiều cao, cân nặng, số đo 3 vòng và chiều cao của giày khi mặc áo dài hoặc gửi số đo qua website tại địa chỉ http://cozastore.com/gui-so-do hoặc vui lòng liên hệ qua Mobi/Zalo: 0932216375 để được tư vấn chi tiết hơn.					</p>

					<p class="stext-113 cl6 p-b-26">
						Là địa chỉ may áo dài đáng tin cậy ở Thành phố Hà Nội để Quý khách đặt may cho mình những bộ áo dài đẹp và hiện đại phù hợp cho Quý khách tham dự các buổi lễ hội, cưới - hỏi, dự tiệc hoặc đi làm việc nơi công sở.
						Áo dài Toang store với form dáng truyền thống, nền nã, giúp tôn dáng cho người phụ nữ, những mẫu áo dài được thiết kế đẹp, phóng khoáng, cách tân hiện đại mang lại cho Quý khách hàng sự ngọt ngào, thanh lịch và nổi bật.
					</p>
					<p class="stext-113 cl6 p-b-26">
						Áo dài Toang store luôn nổ lực với mong muốn mang đến vẻ đẹp hoàn thiện cho những người phụ nữ và hơn nữa là hy vọng góp phần mang tà áo dài Việt bay cao, vươn xa trên thị trường Quốc tế./.
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="customer/images/ban1.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Mục tiêu của chúng tôi
					</h3>



					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							Sáng tạo chỉ là kết nối mọi thứ. Khi bạn hỏi những người sáng tạo như thế nào họ đã làm điều gì đó, họ cảm thấy một chút tội lỗi vì họ không thực sự làm điều đó, họ chỉ thấy một cái gì đó. Nó dường như rõ ràng với họ sau một thời gian.						</p>

						<span class="stext-111 cl8">
								- Steve Dat
							</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="customer/images/ban2.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!--===============================================================================================-->
<script src="customer/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="customer/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="customer/vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="customer/vendor/select2/select2.min.js"></script>
<script>
	$(".js-select2").each(function(){
		$(this).select2({
			minimumResultsForSearch: 20,
			dropdownParent: $(this).next('.dropDownSelect2')
		});
	})
</script>
<!--===============================================================================================-->
<script src="customer/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="customer/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
	$('.js-pscroll').each(function(){
		$(this).css('position','relative');
		$(this).css('overflow','hidden');
		var ps = new PerfectScrollbar(this, {
			wheelSpeed: 1,
			scrollingThreshold: 1000,
			wheelPropagation: false,
		});

		$(window).on('resize', function(){
			ps.update();
		})
	});
</script>
<!--===============================================================================================-->
<script src="customer/js/main.js"></script>
</div>
</body>
</html>