<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New password</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/loginn/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/loginn/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/loginn/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/css/util.css">
    <link rel="stylesheet" href="/loginn/css/main.css">

    <style>
        #btn-done{
            background: #751658;
        }

        #btn-done:hover {
            background: #4E0E3B;
        }

        .input-text:hover {
            outline: none !important;
            border: 1px #4E0E3B;
            box-shadow: 0 0 10px #DA6DB9;
        }
    </style>


</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                <form class="login100-form validate-form" th:action="@{/account/changePassword2}"
                      th:object="${account}" th:method="post">

                    <div class="validate-input form-control m-b-26 input-text">
                        <span class="label-input100">Mật khẩu mới:</span>
                        <input class="input100 font-weight-bold" type="password" th:field="*{password}" id="newPassword"/>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="validate-input form-control m-b-26 input-text">
                        <span class="label-input100">Xác nhận:</span>
                        <input class="input100 font-weight-bold" type="password" id="newPasswordConfirm"/>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <input value="Đổi mật khẩu" class="login100-form-btn" type="submit" id="btn-done" />
                    </div>
                </form>
                <!--<form class="login100-form validate-form" th:action="@{/account/changePassword2}" th:object="${account}" th:method="post">
                    Mật khẩu mới:
                    <input class="input100 font-weight-bold" type="password" th:field="*{password}" id="newPassword"/>
                    <br />
                    Xác nhận mật khẩu mới:
                    <input type="password" id="newPasswordConfirm"/>
                    <input type="submit" value="Đổi mật khẩu"/>
                </form>-->
            </div>
        </div>
    </div>


    <script src="/loginn/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/loginn/vendor/animsition/js/animsition.min.js"></script>
    <script src="/loginn/vendor/bootstrap/js/popper.js"></script>
    <script src="/loginn/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/loginn/vendor/select2/select2.min.js"></script>
    <script src="/loginn/vendor/daterangepicker/moment.min.js"></script>
    <script src="/loginn/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/loginn/vendor/countdowntime/countdowntime.js"></script>
    <script src="/loginn/js/main.js"></script>

    <script th:inline="javascript">
        var password = document.getElementById("newPassword");
        var confirm_password = document.getElementById("newPasswordConfirm");
        function validatePassword(){

            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Nhập sai!")
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</body>
</html>