<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/loginn/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/loginn/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/loginn/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet"  href="/loginn/css/util.css">
    <link rel="stylesheet" href="/loginn/css/main.css">

    <style>
        #btn-done{
            background: #751658;
        }

        #btn-done:hover {
            background: #4E0E3B;
        }

        .input-text:hover {
            outline: none !important;
            border: 1px #4E0E3B;
            box-shadow: 0 0 10px #DA6DB9;
        }

    </style>

</head>

<body>
<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                <form class="login100-form validate-form" th:action="@{/account/changePassword1}" method="get" >

                    <div class="validate-input form-control m-b-26 input-text">
                        <span class="label-input100">Mật khẩu:</span>
                        <input class="input100 font-weight-bold" name="password" type="password" th:value="${password}" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <input value="Hoàn thành" class="login100-form-btn" type="submit" id="btn-done" />
                    </div>

                </form>
            </div>
         </div>
    </div>




    <script src="/loginn/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/loginn/vendor/animsition/js/animsition.min.js"></script>
    <script src="/loginn/vendor/bootstrap/js/popper.js"></script>
    <script src="/loginn/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/loginn/vendor/select2/select2.min.js"></script>
    <script src="/loginn/vendor/daterangepicker/moment.min.js"></script>
    <script src="/loginn/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/loginn/vendor/countdowntime/countdowntime.js"></script>
    <script src="/loginn/js/main.js"></script>
</body>
</html>