<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/client-layout/master-layout}">
<head>
	<title>Home</title>

	<style>
		#slogan-container h1,
		#slogan-container p {
			display: inline;
		}
	</style>
</head>
<body class="animsition">

<div layout:fragment="client-content">
	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url(/customer/images/qwe.png);  background-size:contain; width: auto">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Sản phẩm đến từ
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Toang Store
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="product" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Mua ngay
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(/customer/images/w1.png); background-size:contain; width: auto">

					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Phong cách
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Trẻ trung
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Mua ngay
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(/customer/images/ssslie3.jpg); background-size:contain;width: auto">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Bộ sưu tập
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Áo dài Việt Nam
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="product" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Mua ngay
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

		<div class="slogan-container">
				<h1 class="ltext-105 cl5 txt-left respon1" style="padding-left: 8%; padding-top: 10%; ">
					<div class="column-1">
						<span>"Khách hàng</span>
					</div>
					<div class="column-2" style="padding-top: 2%">
						<span style="padding-left: 28%;">là</span>
					</div>
					<div class="column-3">
						<div id="slogan-container" style="padding-left: 28%">
							<span style="font-size: 110px;">THƯỢNG ĐẾ</span>
							<h1>"</h1>
						</div>
					</div>
					<div class="column-4 col-12" style="padding-top: 5%">
						<span style="padding-left: 68%; color: grey;"><i>-Toang Store-</i></span>
					</div>
				</h1>


		</div>



	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Tổng quan sản phẩm
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <form th:action="@{/product}" method="get">
						<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " href="/">Tất cả sản phẩm</a>
                        <a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " name="categoryId"
                           th:each="category : ${category}" th:href="'/product?categoryId=' + ${category.id}"
                           th:text="${category.name}" th:value="${category.id}"></a>
                    </form>

				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15" style="display:block !important;">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Tìm kiếm">
					</div>
				</div>

			</div>

			<div class="row isotope-grid" >
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women" th:each="pro : ${list}">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img th:src="${pro.photoLinks[0]}" alt="IMG-PRODUCT">

							<a th:href="@{/product/details/{id}(id=${pro.id})}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
								Chi Tiết
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a th:href="@{/product/details/{id}(id=${pro.id})}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									<span th:text="${pro.name}"></span>
								</a>
								<span class="stext-105 cl3">
									<span th:text="${#numbers.formatDecimal(pro.price, 0, 'COMMA', 0, 'POINT')}" ></span>VND
								</span>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="/product" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Xem thêm
				</a>
			</div>
		</div>
	</section>
	<section class="sec-blog bg0 p-t-60 p-b-90">
		<div class="container">
			<div class="p-b-66">
				<h3 class="ltext-105 cl5 txt-center respon1">
					Blog
				</h3>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-4 p-b-40" th:each="blog :${blogs}">
					<div class="blog-item">
						<div class="hov-img0">
							<a href="blog-detail">
								<img th:src="${blog.photoLinks[0]}" alt="IMG-BLOG">
							</a>
						</div>

						<div class="p-t-15">
							<div class="stext-107 flex-w p-b-14">
								<span class="m-r-3">
									<span class="cl4">
										By
									</span>

									<span class="cl5">
										Steve Dat
									</span>
								</span>

								<span>
									<span class="cl4">
										on
									</span>

									<span class="cl5">
										July 22, 2019
									</span>
								</span>
							</div>

							<h4 class="p-b-12">
								<a th:href="@{/blog/{id}(id=${blog.id})}" class="mtext-101 cl2 hov-cl1 trans-04" th:text="${blog.title}">

								</a>
							</h4>

							<p class="stext-108 cl6" th:text="${blog.content}">

							</p>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section>




	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->


	<!--===============================================================================================-->
	<script src="/customer/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/bootstrap/js/popper.js"></script>
	<script src="/customer/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/daterangepicker/moment.min.js"></script>
	<script src="/customer/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/slick/slick.min.js"></script>
	<script src="/customer/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled:true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2')();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail')();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail')();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
	<!--===============================================================================================-->
	<script src="/customer/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="/customer/js/main.js"></script>
</div>



</body>
</html>