    <!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{client/client-layout/master-layout}">
<head>
    <title>Product</title>

</head>
<body class="animsition">
<div layout:fragment="client-content">
    <!-- Product -->
    <div class="bg0 m-t-23 p-b-140">
        <div class="container">
            <div class="flex-w flex-sb-m p-b-52">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <form th:action="@{/product}" method="get">
                        <a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " href="/product">Tất cả sản phẩm</a>
                        <a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " name="categoryId"
                           th:each="category : ${category}" th:href="'?categoryId=' + ${category.id}"
                           th:text="${category.name}" th:value="${category.id}"></a>
                    </form>

                </div>

                <div class="flex-w flex-c-m m-tb-10">



                </div>

                <!-- Search product -->
                <div class="panel-search w-full p-t-10 p-b-15" style="display:block !important;">
                    <form method="get" th:action="@{/product}">
                        <div class="bor8 dis-flex p-l-15">

                            <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                                <i class="zmdi zmdi-search"></i>
                            </button>

                            <input name="keyword" th:value="${keyword}" class="mtext-107 cl2 size-114 plh2 p-r-15"
                                   type="text" placeholder="Tìm kiếm" />

                        </div>
                    </form>
                </div>


            </div>

            <form>
                <div class="row isotope-grid">
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women" th:each="product : ${list}">
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img th:src="${product.photoLinks[0]}" alt="IMG-PRODUCT" width="328" height="422">

                                <a th:href="@{/product/details/{id}(id=${product.id})}"
                                   class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
                                    Chi Tiết
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a th:href="@{/product/details/{id}(id=${product.id})}"
                                       class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <span th:text="${product.name}"></span>
                                    </a>

                                    <span class="stext-105 cl3">
									<span  th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></span>VND
								</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <!-- Load more -->
            <div class="flex-c-m flex-w w-full p-t-45">
                <a href="/?limit=24"  class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    Xem Thêm
                </a>
            </div>
        </div>
    </div>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
    </div>

    <!-- Modal1 -->


    <!--===============================================================================================-->
    <script src="customer/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="customer/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="customer/vendor/bootstrap/js/popper.js"></script>
    <script src="customer/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="customer/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="customer/vendor/daterangepicker/moment.min.js"></script>
    <script src="customer/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="customer/vendor/slick/slick.min.js"></script>
    <script src="customer/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="customer/vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="customer/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="customer/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
        $('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2')();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail')();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail')();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <!--===============================================================================================-->
    <script src="customer/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="customer/js/main.js"></script>
</div>
</body>
</html>